$headerBg: #FC4949;

.the-header {
	background: $headerBg;
	color: white;
}
.the-nav {
	text-align: right;

	> a {
		display: none;
	}
	ul {
		list-style: none;
		padding: 0;
		margin: 0;
	}
	> ul {
		height: 3.75em;

		li {
			width: (100%/6);
			float: left;
			a {
				text-align: center;
				padding: 30px 0;
				font-size: 1.2em;
				height: 100%;
			}
		}
	}
	li {
		position: relative;
		
		a {
			text-decoration: none;
			color: white;
			display: block;
		}
		:hover a{
			background: darken($headerBg, 50%);
		}
		ul {
			display: none;
			position: absolute;
			top: 100%;
		}

		&:hover { 
			ul{
				display: block;
			}
			a {
				background: darken($headerBg, 5%)
			}
		}
	}
}
